.head {
    position: absolute;
    top: 108px;
    z-index: 2;
}
.top {
    position: absolute;
    top: 78px;
    z-index: 3;
}
.mouth {
    position: absolute;
    top: 220px;
    z-index: 2;
}
.glasses {
    width: 156.51px;
    height: 31.98px;
    position: absolute;
    top: 195px;
    z-index: 2;
}
.eyes {
    width: 84.37px;
    height: 23.8px;
    position: absolute;
    top: 200px;
    z-index: 3;
}
.eyebrows {
    width: 110px;
    height: 25px;
    position: absolute;
    top: 175px;
    z-index: 2;
}
.body {
    position: absolute;
    top: 280px;
    z-index: 2;
}
.background {
    width: 440px;
    height: 440px;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    background-size: cover;
}
.pet {
    position: absolute;
    bottom: -50px;
    left: -70px;
    z-index: 5;
    transform: rotate(-25deg);
}